# 编译输出
dist/
build/
out/
target/
bin/
*.class
*.jar
*.war

# 依赖目录
node_modules/
__pycache__/
*.egg-info/

# 环境文件
.env
.env.local

# IDE
.idea/
.vscode/
*.iml
*.swp

# 系统文件
.DS_Store
Thumbs.db
.trae
service.pid
start.log
logs/info.log
logs
/db/*.db
/backtesting_dev.db
